{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <h1>Connexion</h1>
    <form action="{{ path('app_login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div>
            <label for="username">Email :</label>
            <input type="text" id="username" name="_username" required autofocus value="{{ last_username }}">
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" required>
        </div>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
